<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 text-center">
                <img class="column-image" src="img/cta.png" title="Postpartum Bonding" />
            </div>
            <div class="col-md-6 col-12 p-50 text-center">
                <h2 class="section-heading">The postpartum period is <span class="branded-accent">sacred</span> — a time
                    meant for healing, nourishment, and rest.</h2>
                <hr class="light">
                <p class="text-faded">My role is to come alongside you during pregnancy and create your 4th trimester
                    care plan with confidence, intention, and practical guidance.</p>
                <p class="text-faded">Whether you're preparing during pregnancy or already deep in the newborn fog, you
                    deserve support that sees all of you — not just the baby.</p>

                <a href="#" class="btn btn-default btn-xl">Take A Closer Look</a>
            </div>
        </div>
    </div>
</section>