<section id="contact" class="bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Connect</h2>
                <hr class="primary">
                <p>Ready to create your postpartum plan? I can't wait to hear from you. Find me anywhere below and I will be in touch as soon as possible.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-4 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
