<header>
    <video id="HeaderBackgroundVideo" autoplay loop muted playsinline>
        <source src="img/bg1.mp4" type="video/mp4">
    </video>
    <div class="header-content">
        <div class="header-content-inner">
            <h2><span class="branded">cared for.</span> by Simone</h2>
            <p>Maternal-centered postpartum support</p>
            <hr>
            <p>
                Welcome to cared for. by Simone.
            </p>
            <p>I walk with families through the tender threshold of postpartum—offering care that is intuitive,
                hands-on, and rooted in the wisdom of the birthing person's experience.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Take A Closer Look</a>
        </div>
    </div>
</header>